  <div class="container">
     <div class="row">

        <form  name="form" class="col s4 offset-s4">
          <div class="row">
            <div class="input-field">
              <input id="id" type="number" class="validate" ng-model="user.ide" required>
              <label for="id">Id</label>
            </div>
          </div>        
          <div class="row">
            <div class="input-field">
              <input id="name" type="text" class="validate" ng-model="user.name" required>
              <label for="name">Nombre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              <input id="email" type="email" class="validate" ng-model="user.email" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <button class="btn-floating btn-large waves-effect waves-light red" ng-disabled="!form.$valid" ng-click="userAdd.save()">
              <i class="material-icons">add</i>
            </button>
          </div>
        </form>

      </div>

  </div>